*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  text-decoration: none;
  color: inherit;
}

.pages{
  flex: 10;
  margin: 2.5vh;
  padding: 20px;
  box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 14px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
}