.houseList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.houseList .card{
    width: 500px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 5px;
}

.houseList .card img{
    flex: 1;
    width: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.houseList .card img:hover{
    transform: scale(1.03);
}

.houseList .card .content{
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    flex-wrap: wrap;
}

.houseList .card .content h2{
    margin-bottom: 5px;
}

.houseList .card .content h3{
    font-size: 17px;
}

.houseList .card .content span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 19px;
}

.houseList .card .content p{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 400;
}

.houseList .card .content .btn{
    padding: 10px 15px;
    margin-top: 10px;
    background: orange;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.houseList .card .content .btn:hover{
    transform: scale(1.02);
}